{% extends 'layout.html' %}

{% block title %}
Edit Chapter
{% endblock %}


{% block body %}
    {% include 'navbar.html' %}
    <h1 class="h1 text-center mt-5">Edit Chapter Details</h1>
    <div class="container shadow col-10 col-md-6 p-4 m-5 bg-white rounded">
        <div class="row">
            <form method="post">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{chapter.name}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" value="{{chapter.description}}">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i>
                    Save
                </button>
                <a href="{{ url_for('admin') }}" class="btn btn-danger">
                    <i class="fas fa-times"></i>
                    Cancel
                </a>
            </form>
        </div>
    </div>
{% endblock %}