{% extends 'layout.html' %}

{% block title %}
Add Subject
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/newSubChap.css') }}">
{% endblock %}

{% block body %}
    <h1 class="h1 text-center mt-5">Add New Subject</h1>
    <div class="container shadow col-10 col-md-6 p-4 m-5">
        <div class="row">
            <form method="post">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-plus"></i>
                    Add
                </button>
                <a href="/admin" class="btn btn-danger">
                    <i class="fas fa-times"></i>
                    Cancel
                </a>
            </form>
        </div>
    </div>
{% endblock %}