{% extends 'layout.html' %}
{% block title %}
    Quiz Master
{% endblock %}


{% block body %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            {% if quizes|length == 0 %}
                <div class="col-md-6 offset-md-3">
                    <div class="card border rounded p-5 mt-5 text-center">
                        <div class="card-body rounded" style="border: 1px dashed #1f1f1f">
                            <h5 class="card-title">No Quiz Found</h5>
                            <p class="card-text">Please add a new quiz to get started</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for quiz in quizes %}
                <div class="col-md-6 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="title d-flex align-items-end">
                                    <a href="{{ url_for('show_quiz', quiz_id = quiz.id )}}" class="text-decoration-none" style="color: #212529;">
                                        <h5 class="card-title">
                                            Quiz{{quiz.id}} ({{ quiz.chapter.name }})
                                        </h5>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ url_for('edit_quiz', quiz_id = quiz.id) }}" 
                                           class="btn btn-sm btn-outline-primary actionbtn">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{{ url_for('delete_quiz', quiz_id = quiz.id) }}" 
                                           class="btn btn-sm btn-outline-danger actionbtn">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text small">{{ quiz.remarks }}</p>
                            <div class="table-card">
                                <table class="table table-striped custom-table">
                                    <thead class="small">
                                        <tr>
                                            <th>Ques. ID</th>
                                            <th>Question Title</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if not quiz.questions %}
                                            <tr>
                                                <td colspan="3" class="text-center text-muted small">
                                                    No questions found
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if quiz.questions %}
                                            {% for question in quiz.questions %}
                                                <tr>
                                                    <td>{{ question.id }}</td>
                                                    <td>{{ question.question_title }}</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="{{ url_for('edit_question', quiz_id = quiz.id, question_id = question.id) }}" 
                                                               class="btn btn-sm btn-outline-primary actionbtn">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a href="{{ url_for('delete_question', quiz_id = quiz.id, question_id = question.id) }}" 
                                                               class="btn btn-sm btn-outline-danger actionbtn">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                <a href="{{ url_for('add_question', quiz_id = quiz.id) }}" class="btn btn-success align-item-end">
                                    <i class="fa fa-plus"></i> 
                                    Question
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <a href="{{ url_for('add_quiz') }}" class="btn m-5 custom-button">
            <i class="fa fa-plus"></i>
            Quiz
        </a>
    </div>
{% endblock %}