{% extends 'layout.html' %}
{% block title %}
    Quiz Master
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            {% if subjects|length == 0 %}
                <div class="col-md-6 offset-md-3">
                    <div class="card dashed-border text-center">
                        <div class="card-body">
                            <h5 class="card-title">No Subject Found</h5>
                            <p class="card-text">Please add a new subject to get started</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for subject in subjects %}
                <div class="col-md-6 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="title d-flex align-items-end">
                                    <h5 class="card-title">
                                        {{ subject.name }}
                                    </h5>
                                </div>
                                <div class="btn-group">
                                    <a href="{{ url_for('edit_subject', subject_id = subject.id) }}" 
                                       class="btn btn-sm btn-outline-primary actionbtn">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{url_for('delete_subject', subject_id = subject.id)}}" 
                                       class="btn btn-sm btn-outline-danger actionbtn">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            <p class="card-text small">{{ subject.description }}</p>
                            <div class="table-card">
                                <table class="table table-striped custom-table">
                                    <thead class="small">
                                        <tr>
                                            <th>Chapter Name</th>
                                            <th>No. of Questions</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if not subject.chapters %}
                                            <tr>
                                                <td colspan="3" class="text-center text-muted small">
                                                    No chapters found
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if subject.chapters %}
                                            {% for chapter in subject.chapters %}
                                                <tr>
                                                    <td>{{ chapter.name }}</td>
                                                    <td>{{ chapter.questions|length }}</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="{{url_for('edit_chapter', subject_id = subject.id, chapter_id = chapter.id)}}" 
                                                               class="btn btn-sm btn-outline-primary actionbtn">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a href="{{url_for('delete_chapter', subject_id = subject.id, chapter_id = chapter.id)}}" 
                                                               class="btn btn-sm btn-outline-danger actionbtn">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                <a href="{{url_for('add_chapter', subject_id = subject.id)}}" class="btn btn-success align-item-end">
                                    <i class="fa fa-plus"></i> 
                                    Chapter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <a href="{{ url_for('add_subject')}}" class="btn button">
            <i class="fa fa-plus"></i>
            Subject
        </a>
    </div>
{% endblock %}